/* All Common Styles */

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-white {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}

/* Style Header Section  */

header {
    background-image: url("../images/banner/banner3.png");
    width: 100%;
    height: 800px;
}

.banner {
    display: flex;
    justify-content: right;
}

.banner-item {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 525px;
    padding: 76px;
    padding-top: 102px;

}

.banner-heading {
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.banner-item p {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-item button {
    margin-left: 363px;
}

/* Header Section End */

/* Main Section Start  */

/* Failure Section start  */
.failure {
    display: flex;
    margin: 161px 206px;
    gap: 130px;
}

.failure-list-item {
    display: flex;
}

.failure-ul {
    list-style: none;
    text-decoration: none;
    padding: 0px;
}

.checkbox-ul {
    list-style: none;
    text-decoration: none;
    padding: 0px;
}

.checkbox-ul>li {
    margin-bottom: 10px;
}

.failure-ul>li {
    margin-bottom: 10px;
    color: #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.failure-list {
    margin-top: 180px;
}

.failure-heading {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.failure-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Failure Section End */

/* My Plan Section Start */

/* My Plan Section  End*/

/* Main Section End */